<%= form_for(@todo) do |f| %>
    <% if @todo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

          <ul>
            <% @todo.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="small-10">
        <div class="row">
          <div class="small-2 columns">
            <%= f.label :title, :class => "right inline" %>
          </div>
          <div class="small-10 columns">
            <%= f.text_field :title %>
          </div>
        </div>
      </div>

      <div class="small-10">
        <div class="row">
          <div class="small-2 columns">
            <%= f.label :notes, :class => "right inline" %>
          </div>
          <div class="small-10 columns">
            <%= f.text_area :notes %>
          </div>
        </div>
      </div>

      <div class="small-10">
        <div class="row">
          <div class="small-10 small-offset-2 columns">
            <%= f.submit %>
          </div>
        </div>
      </div>
    </div>

<% end %>